:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff
}

.page {
  color:var(--title-text-color),
  background-color: var(--primary-bg-color)
}
ul {
  list-style: none;
}
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */

/* бэкграунд #E5E5E5 */
/* бэкграунд вторичный #F5F4FA */

/* акцент #2196F3 */
.logo {
  color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .contact {
  color: var(--primary-text-color);
}
.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: var(--accent-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--primary-text-color);
}

/* Team */

.team {
    color: var(--title-text-color);
}
.position {
    color: var(--primary-text-color);
}

/* Button */

.button{
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}
.button.primary {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-color: transparent;
}