:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
}

.page {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
}
.logo .logo-sc {
  color: var(--title-text-color);
}
.logo .logo-footer {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .page {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .contact {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
  font-size: 14px;
  line-height: 1.14px;
}
.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14px;
}

.hero-title {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */

.section-team {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team,
.position {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */

.section-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section .feature-list .title {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Team */

.position {
  color: var(--primary-text-color);
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
.button-top {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;

  font-size: 16px;
  line-height: 1.8;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}

.logo-ft {
  color: var(--accent-color);
  background-color: var(--hero-bg-color);
}

.logo .logo-sc {
  color: var(--title-text-color);
}
.logo .logo-footer {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
}
/* Страница портфолио */

/* Шапка */
.site-nav .linkactive {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Фильтр */

.menu .button-menu {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  letter-spacing: 0.03em;
}
.menu .button-menu:hover,
.menu .button-menu:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

.adress-geo {
  color: var(--primary-bg-color);
  background-color: var(--hero-bg-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
