:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.page {
  color: #212121;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */

/* бэкграунд #E5E5E5 */
/* бэкграунд вторичный #F5F4FA */

/* акцент #2196F3 */
.logo {
  color: #2196f3;
}
/* Site nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.contact-nav .contact {
  color: #757575;
}
.contact-nav .contact:hover,
.contact-nav .contact:focus {
  color: #2196f3;
}

/* Section */

.section-title {
  color: #212121;
}

/* Features */

.feature-list .title {
  color: #757575;
}
